 body {
      font-family: sans-serif;
    }
    .nav-item a{
      color: chocolate;
    }
    .header {
      background: url("img/coffee.png") center/cover no-repeat;
      height: 90vh;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
   
    }
    
    .order-btn {
    background-color: chocolate; 
    color: white;             
    border-radius: 25px;        
    padding: 10px 25px;         
    text-decoration: none;      
    transition: 0.3s;
}

.order-btn:hover {
    background-color: #5C3317;  
    color: white;
}

   
    .section_brand img {
      width: 300px;
      opacity: 0.6;
      transition: 0.5s;
    }
    .section_brand img:hover {
      opacity: 1;
    }
    .check {
      width: 100%;
      background: url("img/bg.jpeg")center/cover no-repeat;
      color: black;
      object-fit: cover;
      text-align: center;
      padding: 80px 20px;
    }
    .customer .card {
      border: none;
      background: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    .background {
      background: url("img/bg1.jpeg") center/cover no-repeat;
      height: 400px;
      padding: 80px 20px;
      text-align: center;
      color: black;
    }
    .footer {
      background: rgb(80, 39, 12);
      color: white;
      padding: 40px 20px;
    }
    .footer h3 {
      font-size: 1.1rem;
      margin-bottom: 15px;
    }
